<nav class='h-16 w-full z-50 bg-white sticky top-0 left-0 shadow-lg'>

    <div class='flex flex-row justify-between h-full max-w-full px-8 xl:max-w-screen-xl xl:px-2 xl:mx-auto'>

        <a class='h-full' href='/'>
            <img class="h-12 my-2" alt="Logo" src="{{ settings:logo }}" />
        </a>

        <!-- Desktop Nav  -->
        <ul class='links relative hidden md:flex flex-row items-center subheading-1 font-sans uppercase text-center'>
            {{ nav }}
                <li class='group relative {{ if depth == 1 }} w-32 {{ else }} w-72 h-16  {{ /if }} flex justify-center items-center bg-white rounded-sm'>
                    <a class='transition duration-150 ease-linear px-4 py-2 transform hover:-translate-y-1 rounded-lg {{ if url == "/contact"}} bg-accent-500 text-black hover:bg-accent-400 {{ else }} bg-white text-gray-700 hover:text-primary-900 {{ /if }}' href='{{ url }}'>
                        <span class='whitespace-normal'>{{ title }}</span>
                    </a>
                    {{ if children }}
                    <ul class='drop absolute -left-20 top-8 hidden group-hover:block pt-4'>
                        {{ *recursive children* }}
                    </ul>
                    {{ /if }}
                </li>
            {{ /nav }}
        </ul>

        <!-- Mobile Nav  -->

    </div>

</nav>