/* This is all you. */

.carrousel {
    #radio-1:checked~.slides {
        transform: translateX(0%);
    }
    #radio-1:checked~.slidesNavigation label#dotForRadio-1 {
        background: #2980b9;
    }
    #radio-2:checked~.slides {
        transform: translateX(-50%);
    }
    #radio-2:checked~.slidesNavigation label#dotForRadio-2 {
        background: #2980b9;
    }
    .slides {
        width: 200%;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
    }
    .slidesNavigation {
        label {
            float: left;
            margin: 6px;
            display: block;
            height: 10px;
            width: 10px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: solid 2px #2980b9;
            font-size: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
    input {
        display: none;
    }
}

#home>section {
    &:nth-child(odd) {
        background-color: white;
    }
    &:nth-child(even) {
        background-color: #FFFFFF;
    }
}

.hero-logo {
    /* 
        0.5 * (100% - 1280px) is the width of the gutter in xl screens
        147px is the width of the triskelle in the logo
        this will make the start of "Brid" line up with the vision text below
    */
    left: calc(0.5 * (100% - 1280px) - 147px);
}
  
  .parallax::after {
    /* Position the pseudo-element to fill the parent */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    /* Scale the image to full */
    background-size: cover;
    
    /* Move the element back then scale the element, it helps to appears more slowly */
    transform: translateZ(-15px) scale(2.4);
    
    /* Set the parallax section before the other elements. */
    z-index: -1;
    
    background-image: url(https://source.unsplash.com/7xP5BJ34ybg/1600x900);
    background-position: right;
  }
  
/*
    Convert a chevron-right icon into an arrow-right icon on hover. 
    Translate and delayed opacity transitions, reversed transitions on unhover
    See buttons on /home for reference. 
    • Must add .absolute to svgs and put them centered in a div.relative 
    • Must add .animated-icon-link to button/link
*/
.animated-icon-link {
    .chevron-right {
        transition: opacity 150ms linear 0s, transform 150ms linear 150ms;
    }
    .arrow-right {
        transition: opacity 150ms linear 0s;
        opacity: 0;
    }
    &:hover {
        .chevron-right {
            transition: transform 150ms linear 0s, opacity 150ms linear 150ms;
            transform: translateX(6px);
            opacity: 0;
        }
        .arrow-right {
            transition-delay: 150ms;
            opacity: 1;
        }
    }
}