/* This is all you. */

.carrousel {
    #radio-1:checked~.slides {
        transform: translateX(0%);
    }
    #radio-1:checked~.slidesNavigation label#dotForRadio-1 {
        background: #2980b9;
    }
    #radio-2:checked~.slides {
        transform: translateX(-50%);
    }
    #radio-2:checked~.slidesNavigation label#dotForRadio-2 {
        background: #2980b9;
    }
    .slides {
        width: 200%;
        -webkit-transition: transform .5s;
        -moz-transition: transform .5s;
        -o-transition: transform .5s;
        transition: transform .5s;
    }
    .slidesNavigation {
        label {
            float: left;
            margin: 6px;
            display: block;
            height: 10px;
            width: 10px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            border: solid 2px #2980b9;
            font-size: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
    input {
        display: none;
    }
}

#home>section {
    &:nth-child(odd) {
        background-color: white;
    }
    &:nth-child(even) {
        background-color: #F8FCFC;
    }
}
  
  
  .parallax::after {
    /* Position the pseudo-element to fill the parent */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    /* Scale the image to full */
    background-size: cover;
    
    /* Move the element back then scale the element, it helps to appears more slowly */
    transform: translateZ(-15px) scale(2.4);
    
    /* Set the parallax section before the other elements. */
    z-index: -1;
    
    background-image: url(https://source.unsplash.com/7xP5BJ34ybg/1600x900);
  }


.vueperslide {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2A3F3F;

    p {
        margin-right: auto;
        margin-left: auto; 
    }
}

.vueperslides__arrow {
    padding: 0;
}

.vueperslides__arrows {
    color: #2A3F3F;
}