/* This is all you. */

.hero_large {
    /* 
        0.5 * (100% - 1280px) is the width of the gutter in xl screens
        147px is the width of the triskelle in the logo
        this will make the start of "Brid" line up with the vision text below
    */
    margin-left: -173px;
}

.parallax {
    perspective: 300px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
  .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-600px) scale(3.9);
    /* background-image: var(--backgroundImageUrl); */
    background-position: right;
  }

/*
    Convert a chevron-right icon into an arrow-right icon on hover. 
    Translate and delayed opacity transitions, reversed transitions on unhover
    See buttons on /home for reference. 
    • Must add .absolute to svgs and put them centered in a div.relative 
    • Must add .animated-icon-link to button/link
*/
.animated-icon-link {
    .chevron-right {
        transition: opacity 150ms linear 0s, transform 150ms linear 150ms;
    }
    .arrow-right {
        transition: opacity 150ms linear 0s;
        opacity: 0;
    }
    &:hover {
        .chevron-right {
            transition: transform 150ms linear 0s, opacity 150ms linear 150ms;
            transform: translateX(6px);
            opacity: 0;
        }
        .arrow-right {
            transition-delay: 150ms;
            opacity: 1;
        }
    }
}

nav .links li:hover > ul {
  animation:fadeInRight .3s ease;
  -webkit-animation:fadeInRight .3s ease;
}

@keyframes fadeInRight{
    0%{
        opacity:0;
        transform:translate3d(100%,0,0)
    }
    100%{
        opacity:1;
        transform:none
    }
}

.menu-container:not(.dropdown-visible) {
    opacity: 0;
    z-index: -10;
    perspective: 2000px;
}
.menu-container:not(.dropdown-visible) .menu-card {
    height: 256px;
    transform: rotateX(-15deg);
}

.menu-container.dropdown-visible {
    opacity: 1;
    z-index: 200;
    perspective: 2000px;
}
.menu-container.dropdown-visible .menu-card {
    height: 256px;
    transform: rotateX(0deg);
}

.gradient {
    &.left:not(.large) {
        background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.0) 10% );
    }
    &.left.large {
        background: linear-gradient(to right, white 5%, rgba(255, 255, 255, 0.0) 30% );
    }

    &.right {
        background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0.0) 10% );
    }

    &.bottom {
        background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.0) 20% );
    }
}