<main class='min-h-screen flex flex-col'>

    {{ partial:partials/nav }}
    <section class='w-full flex flex-col flex-grow'>
        <main
            class='flex flex-col-reverse lg:flex-row flex-grow h-full max-w-full px-0 lg:px-8 xl:pr-0 xl:max-w-screen-xl xl:mx-auto lg:mt-20 mb-32 xl:mb-16 z-10'>

            <div class='flex flex-col justify-start items-center w-full lg:w-7/12 xl:w-6/12 px-8 lg:px-0'>
                <div class='flex mt-4 border-b border-gray-600 border-solid border-b-2 mb-12'>
                    <h1 class='text-5xl font-light pb-12 text-center'>{{ header | widont | markdown }}</h1>
                </div>
                <div class='space-y-8 text-lg'>
                    <p>{{ content | widont | markdown }}</p>
                </div>
            </div>

            <div class='grid relative w-full mx-auto lg:mt-0 lg:w-5/12 xl:w-8/12 xl:mx-0 xl:my-0 xl:-mt-20 xl:-mr-1/6 '>
                <img class="w-full h-auto hidden lg:block object-cover bg-top" src="{{ profile_picture_portrait }}"
                    alt="{{ image.alt }}">
                <img class="w-full h-auto block lg:hidden object-cover bg-top" src="{{ profile_picture_landscape }}"
                    alt="{{ image.alt }}">
                <div class='hidden lg:block absolute inset-0 w-full h-full gradient left large'></div>
                <div class='lg:hidden absolute inset-0 w-full h-full gradient bottom large'></div>
            </div>

        </main>

        {{ partial:partials/footer }}

    </section>

</main>