<main id="home" class='overflow-x-hidden bg-primary-200'>

    <section id="here">
        
        <div class="relative overflow-hidden h-75vh">


            <div class="max-w-screen-xl mx-auto h-full">
                <div class="flex justify-center items-center relative z-10 pb-8 h-full 0 max-w-xl md:max-w-2xl lg:max-w-3xl">

                    <main class="mt-10 mx-auto max-w-screen-xl">
                        <div class="sm:text-center lg:text-left">
                            <img class="w-full object-cover" src="{{ hero_logo }}" alt="Hero Logo"/>
                            <!-- <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                                <div class="rounded-md shadow">
                                    <a href="#contact" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:border-primary-700 focus:shadow-outline-primary transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                                        Get In Touch
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </main>
                </div>
            </div>
            <div class="absolute inset-y-0 w-full">
                <img class="h-56 w-full object-cover sm:h-72 md:h-full lg:w-full" src="{{ image }}" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="w-11/12 max-w-screen-xl mx-auto pt-24 text-center font-serif leading-tight font-light text-4xl mb-4">
            <blockquote class="max-w-max">
                {{ mental_wellbeing_definition_answer | markdown }}
                <footer class="subheading-2 uppercase font-medium opacity-50 text-right ml-12 mt-6">&mdash; World Health Organisation</footer>
            </blockquote>
        </div>
        
        <div class="w-11/12 max-w-screen-xl mx-auto pt-8 pb-12 text-center font-serif leading-tight font-light text-4xl mb-4">
            <blockquote class="max-w-max">
                {{ vision_answer | markdown }}
            </blockquote>
        </div>
    </section>

    <section id="about">
        <div class="w-11/12 max-w-screen-xl mx-auto py-24">
            <div class="flex flex-grow flex-col-reverse lg:flex-row lg:space-x-16 justify-between items-center">
                <div class="flex flex-2 flex-col items-end pb-10 lg:pb-0">
                    <!-- <h1 class="display-1 text-right text-gray-800">About Bríd</h1> -->
                    <div class="subheading-2 text-right text-gray-800">
                        {{ about_brid | widont }}
                    </div>
                </div>
                <div class="flex flex-1 pt-10 lg:pt-0 justify-center items-center">
                    <img class="rounded-full" alt="Profile Picture" src="{{ avatar }}" />
                </div>
            </div>
        </div>
    </section>

    {{ taxonomy:offerings }} 
    {{ partial:offerings/show}} 
    {{ /taxonomy:offerings }}

    <section id="testimonials" class="w-full h-auto min-h-67vh flex flex-col justify-start items-stretch font-sans">

        <vueper-slides class="w-11/12 mx-auto no-shadow" fractions disable-arrows-on-edges bullets-outside >

            {{ taxonomy:testimonial }}
            <vueper-slide :key="{{ index }}">
                <template v-slot:content>
                    <blockquote class="max-w-max mx-auto w-11/12 sm:w-5/6 md:w-2/3 max-w-max text-left font-serif leading-tight font-light text-3xl mb-4 mt-24">
                        {{ content | markdown }}
                        <footer class="subheading-2 uppercase font-medium opacity-50 text-right ml-12 mt-6">&mdash; {{ author }}{{ if organisation }}, {{ organisation }}{{ /if }}</footer>
                    </blockquote>
                </template>
            </vueper-slide>
            {{ /taxonomy:testimonial }}

            <template v-slot:arrow-left>
                <svg class="w-6 h-6 text-primary-900 p-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>
            </template>

            <template v-slot:arrow-right>
                <svg class="w-6 h-6 text-primary-900 p-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
            </template>

        </vueper-slides>
    <!-- 
        <div class="carrousel h-auto min-h-64 px-8 z-10 text-center pt-0 max-w-10/12 m-auto mt-0 relative overflow-hidden">
            {{ taxonomy:testimonial }}
            <input type="radio" name="slides" id="{{'radio-' + (index+1)}}" [checked]="index == 0" />
            {{ /taxonomy:testimonial }}

            <ul class="slides flex flex-row relative left-0 pl-0 pt-4 overflow-hidden list-none">
                {{ taxonomy:testimonial }}
                <li class="relative float-left w-1/4">
                    <div class="flex flex-row max-w-5/6 h-80 pb-16 mx-auto">
                        <div class="h-auto hidden sm:block w-1/4 md:w-1/5 bg-cover bg-center rounded-l-full text-center overflow-hidden" [ngStyle]="{ 'background-image': 'url({{ image }})' }"
                            title="Teachable"></div>
                        <div class="w-full sm:w-3/4 md:w-4/5 border-r border-b border-gray-400 bg-white rounded-r-md p-4 flex flex-col justify-between leading-normal">
                            <div class="relative h-full">
                                <p class="text-left text-gray-900 subheading-1">{{ content }}</p>
                                <div class="text-right text-gray-500 subheading-1 mb-2 absolute bottom-0 right-0">{{ author }}{{if organisation }}, {{organisation}}{{ /if }}</div>
                            </div>
                        </div>
                    </div>
                </li>
                {{ /taxonomy:testimonial }}
            </ul>

            <div class="slidesNavigation block list-none text-center absolute bottom-4" style="width:104px;left:50%;margin-left:-52px">
                {{ taxonomy:testimonial }}
                <label for="{{'radio-' + (index+1)}}" id="{{'dotForRadio-' + (index+1)}}"></label>
                {{ /taxonomy:testimonial }}
            </div>
        </div> -->
    </section>

    <section class="relative w-full mx-auto py-4 min-h-67vh flex flex-col justify-start items-stretch text-base font-serif">
        <form class="vue-form min-w-1/2 w-5/6 max-w-screen-xl py-4 px-8 mx-auto my-8 bg-white rounded shadow-lg z-10" id="contactForm" >

            <fieldset class="mt-6">
                <legend class="w-full pb-3 mb-8 border-b border-solid border-gray-300 font-light text-2xl">Get In Touch</legend>
                <div class="mb-8 flex flex-col md:flex-row justify-between align-stretch md:align-start relative">
                    <div class="relative md:w-5/12">
                        <label class="inline-block mb-3" for="name">Name</label>
                        <input type="text" id="name" v-model="name" class="w-full p-3 border border-solid border-gray-300 rounded shadow-inner focus:border-primary-800 focus:shadow-md focus:outline-none" placeholder="Jane Doe" required />
                    </div>
                    <div class="relative md:w-5/12">
                        <label class="inline-block mb-3" for="email">Email</label>
                        <input type="email" id="email" v-model="email.value" placeholder="jane.doe@gmail.com" required class="w-full p-3 border border-solid rounded shadow-inner focus:shadow-md focus:outline-none" v-bind:class="{ 'border-gray-300 focus:border-primary-800': email.valid, 'border-red-500': !email.valid }" v-on:keyup="validateEmail" />
                        <!--
                    <div class="relative error-message">
                        <p v-show="!email.valid">Woops, please enter a valid email address!</p>
                    </div-->
                    </div>
                </div>
                <div class="relative mb-4">
                    <label class="inline-block mb-3" for="textarea">Message</label>
                    <textarea class="message w-full p-3 border border-solid border-gray-300 rounded shadow-inner focus:border-primary-800 focus:shadow-md focus:outline-none resize-y overflow-auto min-h-48" id="textarea" v-model="message.text" required ></textarea>
                    <span class="bg-gray-400 p-1 absolute top-0 right-0 rounded text-xs">@{{ message.text.length }} / @{{ message.maxlength }}</span>
                </div>

                <div class='hover:text-black flex flex-row justify-end mb-2' >
                    <button class="btn primary raised justify-center w-40 h-12" :class="[sendStatus.color, !canSend && !sendStatus.in_progress ? 'disabled' : '']" :disabled="!canSend" v-on:click.prevent="sendData" >
                        <spinner v-if="sendStatus.in_progress"></spinner>
                        <span v-else>
                            <span v-if="sendStatus.icon" v-html="sendStatus.icon"></span>
                            <span v-else>Send to Bríd</span>
                        </span>
                    </button>
                </div>
            </fieldset>
        </form>
<!-- 
        <div class="absolute inset-y-0 w-full">
            <img class="h-full w-full object-cover" src="{{ footer_image }}" alt="">
        </div> -->
        <div class="absolute bottom-0 right-0 -mr-1/12 w-120">
            <img class="h-full w-full object-cover" src="/assets/brand/BridOMeara_Symbol_Watermark.png" alt="">
        </div> 


    </section>

</main>